/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

#google_search_field {
    display: none;
}

.gsc-control-cse.gsc-control-cse-en {
    padding: 0 10px;
}
.gsc-search-button-v2 {
    padding: 8px 27px !important;
    border-color: #e2383f !important;
    background-color: #e2383f !important;
}

.gsc-search-button-v2:hover {
    border-color: #000 !important;
    background-color: #000 !important;
}
.gsc-control-cse.gsc-control-cse-en {
    padding-bottom: 0px;
	padding-top: 5px;
}
.gsc-input-box {
    padding-top: 2px;
    padding-bottom: 2px;
}
td.gsc-search-button button.gsc-search-button  {
    max-height: 35px!important;
    height: 35px!important; 
}

table.gsc-search-box td.gsc-input {
    padding-right: 0px!important;
}
img.instockImgPlp {
    max-width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
}

.roomvo-inspire-slider .uabb-image-carousel-item img {
    min-height: 400px;
    object-fit: cover;
}
.steps-order-list-ol ul{
    padding-left: 0;
    display: flex;
    list-style: none;
}
.steps-order-list-ol ul li{
    width: 20%;
    padding: 0 10px;
}
.roomvo-inspire-slider .slick-track .uabb-image-carousel-item.uabb-image-carousel-link.slick-slide.slick-active img {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.roomvo-inspire-slider .slick-track .uabb-image-carousel-item.uabb-image-carousel-link.slick-slide.slick-active.slick-current  img {
    border-top-right-radius: 00px !important;
    border-bottom-right-radius: 00px !important;
	border-bottom-left-radius: 10px !important;
	border-top-left-radius: 10px !important;
}

.roomvo-inspire-slider div.uabb-image-carousel .slick-next{
	    right: 47% !important;
}

.roomvo-inspire-slider div.uabb-image-carousel .slick-prev{
	left: 47% !important;
}

.roomvo-inspire-slider div.uabb-image-carousel .slick-prev i,
.roomvo-inspire-slider div.uabb-image-carousel .slick-next i{
	background: #ffffffb3;
	width: 28px !important;
    height: 48px !important;
    line-height: 48px !important;
}

.roomvo-inspire-slider div.uabb-image-carousel .slick-prev i:hover,
.roomvo-inspire-slider div.uabb-image-carousel .slick-next i:hover{
	background: #000 !important;
}

.form-col{
	position: relative;
    z-index: 20;
}

a.link.getcouponbtnlink ,
a.button.alt.getcoupon-btn{
    display: none;
}
.shopraidus .gchoice > input[type="radio"] {
    visibility: hidden !important;
}
div#Shop_for_holiday,
div#Shop_for_holiday .fl-slide-bg-video,
div#Shop_for_holiday .fl-slide-bg-video .fluid-width-video-wrapper,
div#Shop_for_holiday .fl-slide-bg-video .fluid-width-video-wrapper iframe {
    max-height: 700px !important;
	min-height: 700px !important;
}
div#headercommanMenu .menu > li:not(:first-child) a:before {
    content: ' ';
    width: 7px;
    height: 7px;
    border-left: solid 7px #fff!important;
    border-bottom: solid 7px transparent;
    border-top: solid 7px transparent;
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
.gform_wrapper.gravity-theme .gfield-choice-input {
        vertical-align: top!important;
        margin-top: 2px!important;
}
.fl-slide-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.product-plp-grid.product-grid.swatch.instock .favProdPLP {
    right: 20px;
    bottom: 20px;
}
.bottom-pager .facetwp-pager {
    text-align: right;
}
.fl-slide-text > .fl-builder-content  {
    margin: 0px!important;
}
.IpCol .uabb-imgicon-wrap {
   vertical-align: top!important; 
}
.IpCol .infobox-left .uabb-imgicon-wrap {
    margin-right: 10px;
}
.IpCol .phone a {
    font-size: 12px!important;
}
.IpCol .phone a.icon:before {
    content: "\f095";
    font-size: 12px!important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
a.mobile_phone.header_location_name:not(.icon) {
    color: #000;
}
#storeLocation p > a:hover, #storeLocation .view_location:hover  {
    color: #e2383f!important;
}
#storeLocation .content .store_wrapper > a.choose_location:hover  {
    color: #fff!important;
}
.custom_searchHeader .fl-icon {
    cursor: pointer;
}
footer ul .nolink > a, footer ul .nolink > a:hover span {
    color: #fff!important;
}
ul#menu-header-top-bar > li > a {
    display: inline-block!important;
}
.below.hour_minute_colon {
    padding-top: 20px!important;
}
div.gform_wrapper .gfield select {
    -webkit-appearance: none;
    background-image: url(./images/drop-down-arrow.png)!important;
    background-position: 99%!important;
    background-size: 8px!important;
    background-repeat: no-repeat!important;
}
.fl-node-vi7wloadhbn5 .uabb-creative-menu.off-canvas ul.menu > li .sub-menu .uabb-has-submenu-container>a span, .fl-node-vi7wloadhbn5 .uabb-creative-menu.off-canvas ul.menu > li .sub-menu .sub-menu a span, .fl-node-vi7wloadhbn5 .uabb-creative-menu.off-canvas ul.menu > li.menu-item-has-children > .sub-menu > li > a span  {
    color: #000!important;
}
#storeLocation .content .store_wrapper > a.store-cta-link.more:hover {
    color: #e2383f!important;
}
header .fl-module .menu > li.mega-menu  ul a:not(.uabb-button), .fl-module .menu > li.mega-menu ul .uabb-has-submenu-container > a {
    text-transform: capitalize;
}
header .fl-module .fl-module-content .header_store .contentFlyer * {
        font-family: "Josefin Sans", sans-serif!important;
}
.pdpFavbutton {
    cursor: pointer!important;
}
.pdpFavbutton  .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.pdpFavbutton i {
	margin-right: 5px!important;
}
.pdpFavbutton {
	border: 4px solid #e2383f!important;    
    color: #e2383f!important;
    background: #ffffff!important;
    border-radius: 0px!important;
    font-family: "Poppins",sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 0px!important;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 12px 12px!important;
    height: 50px!important;
	display: block;
    margin: 0 auto;
}
.pdpFavbutton span {
	color: #e2383f!important;
}
.pdpFavbutton:hover {
	color: #fff!important;
    background-color: #000!important;
	border-color: #000!important;
}
.rem_fav .af, .add_Fav .rf {
	display: none;
}
.pdpFavbutton:hover span {
	color: #fff!important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder button {
    background-color: transparent!important;
    color: #fff!important;
    border-radius: 0px!important;
    border: 4px solid #fff!important;
    text-transform: uppercase!important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder button:hover {
    background-color: #e2383f!important;
    color: #fff!important;
    border-radius: 0px!important;
    border: 4px solid #e2383f!important;
}
form.register .ur-button-container .btn, .fl-login-form .fl-button-wrap .fl-button, a#calculateBtn  {
	border: 4px solid #e2383f!important;    
    color: #e2383f!important;
    background: #ffffff!important;
    max-width: 220px;
    width: 100%;
    border-radius: 0px!important;
    font-family: "Poppins",sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 0px!important;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 12px 12px!important;
    height: 50px!important;
	display: block;
    margin: 0 auto;
}
form.register .ur-button-container .btn:hover, .fl-login-form .fl-button-wrap .fl-button:hover, a#calculateBtn:hover  {
    border: 4px solid #000!important;  
    color: #fff!important;
    background: #000!important;
    max-width: 220px;
    width: 100%;
    border-radius: 0px!important;
    font-family: "Poppins",sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 0px!important;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 12px 12px!important;
    height: 50px!important;
}
.ur-frontend-form .register .input-text {
    padding-left: 8px!important;
}
.carousel .slick-arrow i {
    padding: 10px!important;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.3));
}
.columnUp > .fl-col-content {
    z-index: 2!important;
    position: relative;
}
.product-colors li.colors {
    margin-left: 5px!important;
}

.gfield_captcha_input_container input {
    max-width: 80px!important;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
a.fl-button.plp_box_btn, .instockPdp .button-wrapper-default > a, .plp-view-product {
    border-color: #e2383f;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    background-color: transparent!important;
	text-decoration: none;
}
a.fl-button.plp_box_btn:hover, .instockPdp .button-wrapper-default > a:hover, .plp-view-product:hover {
    border-color: #000;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    background-color: #000!important;
	text-decoration: none;
}
.fl-page .dual-button > a.button, .product-box .button-wrapper a.button, .open_sidebar .fl-button, .close_sidebar_button .close_sidebar {
	border: 4px solid #e2383f!important;
    background-color: transparent!important;
	
}
.fl-page .dual-button > a.button:hover, .product-box .button-wrapper a.button:hover, .open_sidebar .fl-button:hover, .close_sidebar_button .close_sidebar:hover {
	border: 4px solid #000!important;
    background-color: #000!important;
}
.facet_filters .facet-wrap>strong {
    border-color: #000!important;
    color: #000!important;
}

div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.carousel .slick-arrow i {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0px 0.2px 24px  rgba(0,0,0,0.14);
}
.carousel .slick-arrow {
    top: 50%!important;
}
.carousel .slick-prev i:before {
    content: "\ea00";
}
.carousel .slick-next i:before {   
	content: "\ea01";
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#000;
}
.fl-module-content .storename li .address a:hover{
    color: #e2383f;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 10px 10px 10px;
list-style: none;
}
ul.store-opening-hrs {
    padding-left: 0px!important;
}
ul.store-opening-hrs li {
    position:  relative;
}
ul.store-opening-hrs li span {
    position:  absolute;
    left: 140px;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
    text-align: center;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a, .responsive-button-wrapper-default > a {
    text-align: center;
    background-color: #fff!important;
    color: #e2383f!important;
	border-width: 4px;	
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a:hover, .responsive-button-wrapper-default > a:hover {
    text-align: center;
    background-color: #000!important;
    color: #fff!important;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}

.uabb-gf-style form .gform_body .gfield_label {
    border: none!important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}

ul#menu-header-desktop-mega-menu-right > li a {
    cursor: pointer;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
ul.storename {
    list-style: none;
    padding-left: 0px!important;
    margin-bottom: 0px!important;
}
ul.storename .address a > p {
   margin: 0px!important;
}
a.uabb-button.uabb-creative-default-btn,  .gform_footer input[type=submit]{ 
	max-width: 220px; 
	width: 100%;
}
.uabb-gf-style .ginput_container_select:after {
    content: ""!important;
}
/* PDP page image issue css start here  */
.container .row .product-detail-layout-6 #product-images-holder>div {
        background-image: none!important; 
}
.container .row .product-detail-layout-6 #product-images-holder>div.toggle-image {
        background-image: none!important;
        display: flex;
        align-items: center; 
        justify-content: center;   
}
.container .row .product-detail-layout-6 #product-images-holder>div.show {
        background-image: none!important;
        display: flex;
        align-items: center; 
        justify-content: center;   
}
.container .row .product-detail-layout-6 #product-images-holder>div img{
        display: block;
        min-height: auto;
        width: auto!important;
        margin: 0 auto;
}

.product-detail-layout-6 .slide.selected-slide:after {
    display: none!important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
    content: ""!important;
    background-image: url(https://ajrosecarpets-stg.mm-dev.agency/wp-content/plugins/grand-child/product-listing-templates/images/PDP_check_icon.png)!important;
    height: 38px!important;
    width: 38px!important;
    background-repeat: no-repeat!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.product-detail-layout-6 .slide.selected-slide a {
    display: block;
    position: relative;
}
/* PDP page image issue css end here  */
.BannerRow a.uabb-button.uabb-creative-default-btn {
    max-width: 240px;
}
.btn280 a.uabb-button.uabb-creative-default-btn {
    max-width: 280px!important;
}
.cardRow .uabb-infobox-text-wrap, .cardRow  .uabb-infobox-title-wrap {
    padding: 0px 20px;
}
.inline-Box .uabb-infobox-content > div {
  display: inline-block!important;
}
.inline-Box .uabb-infobox-content > div:last-child {
  margin-left: 10px!important; 
}
h3.uabb-image-carousel-caption {
  background-color: #fff!important;
}
.uabb-image-carousel-item > p {
    margin-bottom: 0px!important;
}
.LocationRow  .uabb-infobox-content .uabb-infobox-text > p{
    margin: 0px!important;
    padding: 0px!important;
}
.LocationRow .uabb-infobox-content .uabb-infobox-text .storename  p {
   padding-bottom: 0px!important;
}
.LocationRow .uabb-infobox-content .uabb-infobox-text .storename   {
   margin-bottom: 10px!important;
   margin-top: 10px!important; 
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
}
/*Footer css start here */

footer .menu > li:first-child a {
    font-size: 16px;
    text-transform: uppercase;
}
footer ul.storename .address a:hover p {
    color: #E2383F!important;
}
footer .fl-heading a:hover span  {
    color: #E2383F!important;
}
footer ul.social-icons li a:hover i {
    color: #E2383F!important;
}
ul.social-icons li a i {
    background-color: #fff!important;
    color: #000!important;
    padding: 10px;
    border-radius: 50px;
}
ul.social-icons li {
   margin-right: 30px;
}
.fl-slide-text > p {
    margin: 0px!important;
}
/*Footer css end here */

/* flyer css start here */

/* .changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
	max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
	z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    transition: all 0.6s;
} */
/* .changeLocation {
    position: absolute;
    top: 120px;
    width: 100%;
    max-width: 300px;
    height: 80vh;
    max-height: 500px;
    overflow: visible;
    background-color: #fff;
    color: #ffff;
    z-index: +6;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    transition: all 0.6s;
   
} */
.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #E2383F;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #000!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 500!important;
	    font-family: "Poppins",sans-serif;
	text-transform: uppercase;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	    font-family: "Poppins",sans-serif;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #E2383F!important;
}
.contentFlyer *{
	font-family: Poppins, sans-serif;
}   
.contentFlyer .storeLink a {
	font-size: 12px!important;
	font-family: Poppins, sans-serif!important;
}
#storeLocation .store_wrapper.active .myStore {
    font-weight: 700;
}
#storeLocation .store_wrapper.active .choose_location {
    display: none;
}
#storeLocation .store_wrapper.active  * {
   filter: drop-shadow(0px 0px 100px #000);
}
  
/* Flyer css start here */

.contentFlyer p{
	line-height: 0.9em;
	font-size: 10px!important;
	color: #000000!important;
    text-transform: capitalize;
}  
.contentFlyer > p {
    padding-bottom: 0px!important;
	color: #000!important;
	text-transform: uppercase;
}  
.locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #000;
    font-size: 12px;
    line-height: 1.3em;
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
	font-family: Poppins, sans-serif!important;
}
.locationWrapFlyer .contentFlyer .mobile a{
    color: #000!important;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3em;
	margin-top: 5px!important;
    display: inline-block;
    margin-bottom: 5px!important;
    
}
/* .locationWrapFlyer .contentFlyer .mobile:before {
    content:"\f095";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
} */
.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}
.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
	margin-left: 5px;
}

.content .store-add{
	color: #000000;
    font-weight: 300;
    font-size: 14px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}

#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}
#storeLocation .store-hour{
	color: #000!important;
    font-weight: 400;
    font-size: 14px!important;
    text-transform: capitalize;
    margin-top: 16px;
	margin-bottom: 16px!important;
}
#storeLocation .store-phone a{
	color: #000!important;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}

.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
#storeLocation .store_wrapper *, #storeLocation a:before, #storeLocation p > a, #storeLocation .store-phone a, #storeLocation .content a{
    color: #fff!important;
}
#storeLocation .content .store_wrapper > a.choose_location{
	color: #e2383f!important;
	text-transform: uppercase;
	font-size: 12px!important;
	margin-top: 10px!important;
	cursor: pointer;
}
#storeLocation .store_wrapper .store-add {
    margin-top: 10px!important;
    font-weight: 400; 
}
#storeLocation .store_wrapper {
    background-color: #000;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
	background-size: cover;
}
.changeLocation .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}
.changeLocation .content::-webkit-scrollbar-thumb {
    background-color: #000 !important;
}
.changeLocation .content::-webkit-scrollbar {
    width: 0.7em !important;
}
.fl-page .dual-button > a.button {
    font-family: "gothambold", Poppins, sans-serif !important;
}
@media (max-width: 1440px ) {
	.changeLocation {
		height: 100%;
	}
	.ipadLandPH0 .fl-col-content {
		padding: 0px!important;
	}
}
/* Flyer css end here */



/* :::::::::::::::::::::::::::::::::::::::::::Instock pdp plp css start here :::::::::::::::::::::::::::::::::::*/
/*Instock plp css*/
.product-plp-grid.instock  .product-row .fl-post-grid-post  {
    min-height: 240px;
}
.product-colors .share {
    display: none!important;
}
.product-grid.instock .product-row .fl-post-grid-post > a {
    display: flex;
    flex-wrap: wrap;
    min-height: 220px;
	max-height: 260px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-grid.instock .product-row .fl-post-grid-post>a>img.list-pro-image {
	width: 100%;
	height: auto;
	min-height: 260px;
    max-height: 260px;
    max-width: 260px;
}
.instock .product-variations1 .plp_box_orderBtn{
	display: block!important;
}
.instock .product-variations1 .plp_box_orderBtn{
	color: #fff;
    background-color: #848689!important;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}
.instock .product-variations1 .plp_box_orderBtn:hover, .instock .product-variations1 .plp_box_orderBtn:focus{
	color: #fff;
    background-color: #0079c1!important;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.instock .product-variations1 .plp_box_btn{
	margin-top: 10px!important;
}
.instock .product-variations1 .price{
	margin-top: 10px!important;
	color: #000000;
     font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  font-size: 27.65px;
  letter-spacing: 0.29px;
  line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-swatch .product-swatch-inner .favProdPdp, .product-row .favProdPdp{
	cursor: pointer!important;
}
.instock .product-variations1 .price sub{
	    font-size: 16px;
    vertical-align: middle;
}
.instock .product-variations1 .price sup{
	    font-size: 16px;
}
.instock .product-row .fl-post-grid-post .instockImgPlp{
	position: absolute;
    top: 0;
    left: 4px;
}
.instockPdp .product-attributes tr td{
	text-align: left!important;
}
/*Instock plp css end*/
/*Instock pdp css start here */
.PDP_form .uabb-gf-style{
	padding-bottom: 0px!important;
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
	background-color: #f6f6f6;	
}
.PDP_form .uabb-tabs-nav ul li:not(.uabb-tab-current) a{
	background-color: #E2383F!important;
	color: #fff!important;
}
.PDP_form .uabb-tabs-nav ul li:first-child{
	margin-right: 0px!important;
}
.PDP_form .uabb-tabs-nav ul li:last-child{
	margin-left: 0px!important;
}
.PDP_form .uabb-content{
	padding: 0px!important;	
}
.PDP_form .uabb-gf-form-desc{
	text-align: center!important;	
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email], .PDP_form textarea, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield select, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=text], .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=email]{
	border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0px!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email]{
	height: 55px!important; 
}
.PDP_form .mesurmentTool > div{
	padding: 0px!important;
}
.PDP_form .mesurmentTool{
	display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
}

.instockPdp input[type=submit]{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}
.instockPdp .button-wrapper-default > a {
    text-transform: uppercase!important;
}
.PDP_form .mesurmentTool > div:last-child{
	margin-left: 6px!important;
}
.PDP_form  input[type="radio"], .PDP_form  input[type="checkbox"]{
	margin-top: 0px!important;
}
.PDP_form .liMeasur{
	position: relative;
}
.PDP_form .ginput_container_checkbox label{
	font-size: 12px!important;
	    font-family: "Roboto",sans-serif;
}
.PDP_form .ginput_container_checkbox .gfield_checkbox{
	display: flex;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
	padding-right: 6px!important;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li {
	flex: 1 1 auto;
}
.PDP_form textarea{
	height: 160px!important;
}
.instockPdp .product-colors > .row{
	display: flex;
    align-items: flex-end;
}
.instockPdp .share div{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}
.instockPdp .product-box.pdp2-leftbox > .row{
	display: flex;
    align-items: flex-end;
}
/* .instockPdp .share span{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
} */
.instockPdp .share ul, .instockPdp .share ul li{
	margin-top: 0px!important;
	margin-bottom: 0px!important;

}
.mesurmentTool.calculateBtninstock {
    cursor: pointer;
}
.instockPdp .MarkInstock{
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instockPdp .MarkInstock span{
	color: #20A276;
    font-family: "Josefin Sans";
    font-size: 20.65px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 20px;
    margin-left: 8px;
    align-items: center;
}
.instockPdp .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instockPdp .product-box h2{
	color: #000!important;
}
.instockPdp .product-box h1{
	color: #000!important;
	font-size: 30px;
}
.instockPdp .product-detail-layout-default .product-swatch{
	margin-top: 0px!important;
}	
.instockPdp .product-box.pdp2-leftbox{
	 padding-top: 50px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors, .instockPdp .product-attributes > h3 {
	text-align: left!important;
}
.instockPdp .slick-track .slide{
	margin-bottom: 0px!important;
	    padding: 0px 4px;
}
.product-swatch-inner #product-images-holder a .main-imgs img {
    position: absolute;
    bottom: auto!important;
    left: 0px;
    top: 0;
    right: 0px;
    margin: auto;
}
.instockPdp #product-images-holder .img-responsive{
	background-position: center top!important;
}   
.instockPdp .toggle-image-thumbnails {
	margin-top: 0px!important;
}
.instockPdp .productHolder{
	position: relative;
}
.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
	top: auto!important;
    bottom: 50px!important;
    left: auto;
    right: 10%!important;
}
.instockPdp .product-detail-layout-default .product-variations{
	width: 100%;
	margin: 0 auto!important;
}
.instockPdp .button-wrapper-default a, .button-wrapper-default a.button{
	width: 100%;
}

/*Instock pdp css end here */

/* :::::::::::::::::::::::::::::::::::::::::::Instock pdp plp css end here :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.inhome-estimate-container {
    display: flex!important;
}
.inhome-estimate-container .in-home-estimate {
    display: flex;
    justify-content: flex-start;
    width: auto;
    right: auto;
    align-items: center;
}

.inhome-estimate-container .left {
    display: flex;
}

.inhome-estimate-container .left .free-label {
    display: block;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    line-height: 35px;
}

.inhome-estimate-container .left .small {
    font-weight: 400;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
}
.inhome-estimate-container .schedule-now-button {
    margin-left: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    border: 2px solid #000;
    text-transform: uppercase;
}
.inhome-estimate-container .schedule-now-button:hover {
    background: #E2383F;
    border: 2px solid #fff;
    color: #fff;
}
.inhome-estimate-container .schedule-now-button span {
    display: flex;
    letter-spacing: 1px;
}

/* Slider css */
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 40px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255,255,255,.5) !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #fff !important;
}
.fl-module-content-slider .bx-wrapper {
    margin: 0 auto 0px;
}


.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .product-detail-layout-6 .product-variations .color-boxs-inners small, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
.gform_heading p.gform_required_legend {
    display: none;
}
.product-plp-grid>.product-row>.col-lg-4>.fl-post-grid-post .product-grid.btn-grey>h4>span:nth-child(1) {
    min-height: 40px!important;
}


@media(min-width: 769px ){
  .fl-slide-foreground {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .fl-slide-content-wrap {
     width: 100%;
 }
 .fl-slide-content {
    margin: 0px!important;
}
}
/* Slider css  end here */

.fl-content.product.col-sm-12.instockPdp.endura .price strong:after  {
    content: "";
    height: 4px;
    width: 80px;
    background-color: #f00;
    text-decoration: 6px solid #f00 line-through;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 16px;
    rotate: 18deg;
}

.fl-content.product.col-sm-12.instockPdp.endura .price strong {
    position: relative;
    
}

.fl-content.product.col-sm-12.instockPdp.endura .customPrice {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.fl-content.product.col-sm-12.instockPdp.endura .customPrice > div:not(.SaleEnd) {
       color: #e2383f;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center; 
}

.fl-content.product.col-sm-12.instockPdp.endura .customPrice > div.SaleEnd {
     color: #000;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.3em;
}

.fl-content.product.col-sm-12.instockPdp:not(.endura) .customPrice {
    display: none;
}

.fl-content.product.col-sm-12.instockPdp.endura .col-lg-6.share {
    display: none!important;
}

.fl-content.product.col-sm-12.instockPdp.endura .col-lg-6.MarkInstock {
    width: 100%;
}
.gform_wrapper.gravity-theme .gfield_validation_message, .gform_wrapper.gravity-theme .validation_message {
    color: #fe0000!important;
    background: #fff!important;
    border: 0!important;
    text-align: left;
    font-size: 16px!important;
    margin-top: -5px!important;
}

.gform_wrapper.gravity-theme .gfield_error label {
    color: #454545!important
}

.gform_wrapper div.gfield.gfield_error {
    background-color: #fff!important;
    border-top: 0!important;
    border-bottom: 0!important;
    margin-top: 0!important;
    padding-bottom: 0!important;
    padding-top: 0!important
}
.poRelative {
    position: relative;
}
.headerRQ {
    position: absolute;
    right: 0px;
    top: 0;
    max-width: 220px;
    z-index: 9;
}
.headerRQ .uabb-infobox{
    border-radius: 0 0 20px 20px;
}

header .menu li.mega-menu > .sub-menu {
  width: 100% !important;
  margin: 0 auto !important;
  text-align: left !important;
  background: none;
  padding-top: 0px;
}
header .menu,
header .menu li.mega-menu {
  position: static !important;
}
.locationWrapFlyer .contentFlyer *  {
    line-height: 1em!important;
}
header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu {
  float: none !important;
}

header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu.fl-menu-vertical > li {
  display: block !important;
}

header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .fl-menu {
  text-align: left !important;
}

header .menu li.mega-menu > .sub-menu > li .fl-row-content-wrap {
  margin-top: 0px !important;
}

header .menu li.mega-menu > .sub-menu > li .fl-heading a {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
}

header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu {
  text-align: left !important;
}

header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu > li {
  display: block !important;
}

header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu > li a {

  color: #000000 !important;
}
header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu > li > a > span {
  color: #000000 !important;
}
header .menu li.mega-menu > .sub-menu .fl-col:not(#headercommanMenu) .menu > li a:hover span {
  color: #e2383f!important;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu div#headercommanMenu li.menu-item-has-children > ul.sub-menu {
    display: none;
    min-width: 220px;
    position: absolute;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu div#headercommanMenu li.menu-item-has-children:hover > ul.sub-menu {
    display: block;
    min-width: 220px;
    position: absolute;
}
div#headercommanMenu .reviewslink  img {
    max-width: 80px!important;
    margin-top: -5px;
    margin-right: 5px;
}


div#headercommanMenu ul#menu-mega-menu-global-item-1 > li {
    position: relative!important;
}
 div#headercommanMenu  .fl-module .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        left: 0px!important;
		top: 38px!important;
}

header
  .menu
  .mega-menu
  .sub-menu
  .fl-row-content-wrap
  .fl-row-content
  .fl-col
  .fl-col-content {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important;
}
header .fl-module .fl-module-content .header_store .contentFlyer > p {
    font-size: 14px!important;
    text-transform: capitalize!important;
    font-family: "Josefin Sans", sans-serif !important;
}
header .fl-module .fl-module-content .header_store .contentFlyer > h3 {
    font-size: 14px!important;
    font-family: "Josefin Sans", sans-serif !important;
}
header .fl-module .fl-module-content .header_store .contentFlyer > .phone a {
    font-size: 13px!important;
    font-family: "Josefin Sans", sans-serif !important;
}
header ul#menu-header-desktop-mega-menu-right > li:last-child:before {
    border-right: 1px solid #bdbdbd;
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
}
header ul#menu-header-desktop-mega-menu-right > li:last-child{
    position: relative!important;
}
header ul#menu-header-desktop-mega-menu-right > li:last-child > div > a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
div#storeLocation .content > div {
    width: 100%;
}
div#storeLocation .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
a.mobile_phone.header_location_name {
    font-weight: 700 !important;
}
div#storeLocation .content > div.o1 {
    order: 1!important;
}
div#storeLocation .content > div.o2 {
    order: 2!important;
}
div#storeLocation .content > div.o3 {
    order: 3!important;
}
div#storeLocation .content > div.o4 {
    order: 4!important;
}
div#storeLocation .content > div.o5 {
    order: 5!important;
}

@media (min-width: 992px ) and (max-width: 1440px){ 
.nfaMem .uabb-module-content.uabb-infobox.infobox-center.infobox-has-photo.infobox-photo-above-title .uabb-infobox-left-right-wrap {
    min-height: 310px;
	position: relative;
}
.nfaMem .uabb-module-content.uabb-infobox.infobox-center.infobox-has-photo.infobox-photo-above-title .uabb-infobox-left-right-wrap .uabb-infobox-text p:not(:first-child) {
    display: none;
}

}
@media (max-width: 1100px){ 
	.IpadLandMt20 .fl-module-content {
		margin-top: 20px;
	}
	footer .fl-module-advanced-accordion .uabb-adv-accordion-button:hover, 
footer .fl-module-advanced-accordion .uabb-adv-accordion-item-active > .uabb-adv-accordion-button {
	background: #e2383f !important;
}

footer #menu-footer-programs{
	list-style-type: none !important;
	padding-left: 0px !important;
}

footer .uabb-adv-accordion-content span.fl-heading-text {
    color: #fff !important;
    font-size: 20px !important;
}
}
@media (max-width:1024px){
	.inhome-estimate-container .schedule-now-button {
		font-size: 16px;
	}
	.nfaMem  .fl-module .uabb-infobox {
		padding: 0px!important;
	}	
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
	a.mobile_phone {
		font-size: 14px!important;
	}
}
@media (max-width: 992px) {
	
	
	.fl-col.topMenu.headerEstimate {
		width: 100%!important;
		padding: 12px 0 10px 0px;
	}
	.fl-col.topMenu, header .fl-col.IpCol  {
		width: 100%!important;
	}
	.fl-col.topMenu .uabb-creative-menu-mobile-toggle-container {
		text-align: center;
	}

	header .IpCol .uabb-infobox-left-right-wrap {
		text-align: center!important;
	}

}
@media (max-width:768px){
	#gfbgbfappointments_calendar {
		position: relative;
		padding: 0px!important;
	}
    .steps-order-list-ol ul{
        flex-direction: column;
    }
    .steps-order-list-ol ul li{
        width: 100%;
        padding: 5px 10px;
    }
	 #gfbgbfappointments_calendar div#gfb_appointments_calendar {
		padding: 10px;
	}
	div#gform_page_39_2 .gfmc-container .gfield.gfmc-column.gfmc-field:nth-child(2) {
    display: none;
}
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
/* 	.fl-row-content-wrap {
		text-align: center;
	} */
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
        .max-width-issue > .fl-col-content.fl-node-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    div.fl-module-photo-gallery.footer-logos .uabb-photo-gallery-item {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
	
	   .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
   .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
	div#Shop_for_holiday,
div#Shop_for_holiday .fl-slide-bg-video,
div#Shop_for_holiday .fl-slide-bg-video .fluid-width-video-wrapper,
div#Shop_for_holiday .fl-slide-bg-video .fluid-width-video-wrapper iframe {
    max-height: 500px !important;
	min-height: 500px !important;
}
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
	.inhome-estimate-container .schedule-now-button {
		font-size: 12px;
	}
	.inhome-estimate-container .schedule-now-button svg {
		margin-right: 5px;
	}
	.inhome-estimate-container .left .free-label {
		font-size: 30px;
	}
	.inhome-estimate-container .schedule-now-button span {
		align-items: center;
	}
}

@media screen and (max-width: 600px){
	button.rmp_menu_trigger {
		top: 88px!important;
	 }
	.shareAndPrint {
		top: -20px!important;
	}
    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}

/*Workbook css start here */

.workbookImages h3.uabb-simplify {
    margin-bottom: 20px!important;
}

.signinButton .fl-button-wrap .fl-button {
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 0px;
    height: 45px;
    width: 153px;
    letter-spacing: 2px;
    line-height: 33px;
    text-align: center;
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff!important;
}

.signinButton .fl-button-wrap .fl-button span {
    color: #fff!important;
}


/*Workbook css end here */


/* Fav button css */

.favProdPdp .fa-heart-o:before {
    content: "\f08a";
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
}

.favProdPdp .fa-heart:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
}

.product #product-images-holder .favProdPdp {
    position: absolute;
    z-index: 9;
    bottom: 15px;
    right: 40px;
    padding: 12px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product #product-images-holder .favProdPdp i {
    font-size: 30px;
}

.product .product-swatch .product-swatch-inner {
    position: relative;
}

.product .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
    top: 430px;
    z-index: 9;
    left: auto;
    right: 85px;
    background-color: #fff;
    padding: 12px 12px 8px 12px;
    border-radius: 100%;
}

.product .product-swatch .product-swatch-inner .favProdPdp i {
    font-size: 30px;
}


/* for plp css */

.product-plp-grid .product-row .fl-post-grid-post {
    position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
    background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i {
    font-size: 20px;
}

.product-plp-grid .product-row .fl-post-grid-post .fl-post-grid-image{position: relative;}
.product-plp-grid .product-row .fl-post-grid-post .favProdPLP {
    position: absolute;
    left: auto;
    right: 12px;
    bottom: 24px;
    z-index:99;
}

.product-variations1 {
    margin-bottom: 20px;
}


/* Fav button css end */

/* for plp css */

.product-plp-grid .product-row .fl-post-grid-post {
    position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
    background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i {
    font-size: 20px;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP {
    position: absolute;
    left: auto;
    right: 15px;
    bottom: 15px;
}

.product-variations1 {
    margin-bottom: 20px;
}


/* Fav button css end */

#modal-608aa042f0814 h3 {
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 20px!important;
}

#modal-608aa042f0814 textarea {
    min-height: 120px!important;
}

#modal-608aa042f0814 input[type=submit] {
    margin-top: 20px!important;
    border-radius: 0px!important;
    width: 120px!important;
    color: #fff!important;
    letter-spacing: 2px!important;
    position: static!important;
    margin-left: 0px!important;
    background-color: #e2383f;
    border-color: #e2383f;
}

#modal-608aa042f0814 input[type=submit]:hover {
    background-color: #ff0909;
    border-color: #ff0909;
}

#modal-608aa042f0814 .uabb-modal-close {
    top: 0px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}

#modal-608aa042f0814 .uabb-modal-close i {
    color: #2d6ca2!important;
    font-size: 30px!important;
}


/* text show popup css  */

#modal-608aa042f0818 .uabb-modal-text {
    padding: 40px 20px!important;
}

#modal-608aa042f0818 .uabb-modal-text p.note_content {
    padding: 40px 20px!important;
    background-color: #c3c3c32e!important;
}

#modal-608aa042f0818 .uabb-modal-close {
    top: -10px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}

#modal-608aa042f0818 .uabb-modal-close i {
    color: #2d6ca2!important;
    font-size: 30px;
}

#modal-608aa042f0818 h3 {
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 0px!important;
}


/* Resiter page css start here*/

.registerationForm .user-registration {
    border: none!important;
    padding: 0px!important;
}

.registerationForm .user-registration input[type=text] {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .user-registration input[type=text],
.registerationForm .user-registration input[type=email],
.registerationForm .user-registration input[type=password],
.registerationForm .user-registration select {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .ur-submit-button,
.user-registration .ur-submit-button {
    margin: 0 auto!important;
    margin-top: 60px!important;
    /*     border-radius: 40px!important; */
    width: 153px;
    height: 45px;
    font-family: Montserrat, sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 2px!important;
    text-transform: uppercase!important;
    color: #fff!important;
}

.registerationForm .field-radio ul,
.user-registration .field-radio ul {
    padding-left: 0px!important;
}

.registerationForm .user-registration .field-radio ul label {
    font-weight: 600!important;
    font-size: 12px!important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4F4F4F!important;
}


/* Resiter page css end here*/


/* Favoriate product page css start here*/

.need-share-button_button {
    border: none!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.need-share-button_button:before {
    content: "\f1e0";
    font: normal normal normal 28px/1 FontAwesome;
    color: #e2383f;
    font-size: 24px;
}

.sharingBox>a>i,
.shareAndPrint>a>i {
    color: #e2383f!important;
}

#mesureMentprintMe h3 {
    margin-bottom: 30px;
}

.need-share-button .need-share-button_button:last-child {
    display: none!important;
}

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
    margin-left: 20px!important;
}

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #e2383f!important;
    font-size: 26px;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #e2383f!important;
    font-size: 26px;
}

.favProWarpper .product-row>div.col-md-4:nth-child(4n+1) {
    clear: left;
}


/*WorkBook css */

#printMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none!important;
}

#printMe .favButtons.button-wrapper #roomvo {
    width: auto !important;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a {
    visibility: visible;
    margin-bottom: 10px;
    border-radius: 60px;
    width: 150px!important;
    padding: 12px 0px 8px 0px;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a:hover {
    cursor: pointer;
}

.product-swatch-inner .wpfp-span .wpfp-link {
    color: #fff;
    background-color: #e2383f;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    width: 90%;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    margin: 10px auto;
}

.product-swatch-inner .wpfp-span .wpfp-link:hover {
    color: #fff;
    border-color: initial;
    background-color: #848689;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

.favProWarpper {
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}

.shareAndPrint {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.shareAndPrint a i {
    font-size: 20px;
}

#mesureMentprintMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none;
}

.favProWarpper h2 {
    font-size: 32px;
    line-height: 1em;
    color: #000;
    margin-bottom: 20px!important;
}

.favProWarpper .product-plp-grid h3 {
    font-size: 22px;
    color: #4F4F4F;
    text-transform: capitalize;
}

.favProWarpper .heading-title,
.favProWarpper .heading-text {
    text-align: center;
}

.favProWarpper .statiContent {
    text-align: center;
}

.favProWarpper .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
}

.favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
    top: 0;
}

.wpfp-span .wpfp-link {
    border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 150px;
    margin: 0 auto;
    background-color: #e2383f;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.wpfp-span .wpfp-link:hover {
    background: #848689;
    text-decoration: none;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap>a {
    width: 100%;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img {
    margin-bottom: 0px!important;
    max-height: 280px!important;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .fl-button {
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
	border: none!important;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent {
    background-color: #fff;
    color: #e2383f;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    width: auto;
    padding: 11px 15px;
    border-radius: 20px;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent i {
    font-size: 18px!important;
}


/* Favoriate product page css end here*/


/* Measurment tool css start here  */

.mesureMentWrap .button-wrapper .button.view,
.favProWarpper .favButtons>a {
    background-color: #e2383f!important;
    color: #fff!important;
    font-size: 16px!important;
    font-family: 'Poppins', sans-serif;
	border: none!important;
}

.mesureMentWrap .button-wrapper .button.view:hover,
.favProWarpper .favButtons>a:hover {
    background-color: #000!important;
    color: #fff!important;
    border: none!important;
}
a#view_note_fun:hover i:before, #rem_fav:hover i:before {
  color: #000!important;  
}
a.post-edit-link {
    display: none!important;
}
#mesureMentprintMe h3 {
    font-weight: 700;
}

.mesureMentWrap img.measure_img {
    max-height: 80px!important;
    width: auto!important;
    max-width: 90%!important;
    margin: 0 auto!important;
}

.mesureMentWrap {
    position: relative;
    overflow: hidden;
    min-height: 220px!important;
}

.mesureMentWrap .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#mesureMentprintMe .product-row .mesureMentWrap:hover .favButtons {
    top: 10%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#mesureMentprintMe.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
    background-color: rgba(0, 0, 0, 0.2);
}

.mesureMentWrap .button-wrapper {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end!important;
    padding-bottom: 0px;
    transition: all 1.1s;
}

.mesureMentWrap .button-wrapper>a {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.mesureMentWrap .button-wrapper>a:first-child {
    width: 120px;
}

.mesureMentWrap .button-wrapper>a:last-child {
    padding: 16px 16px;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    background-color: #fff!important;
	border-radius: 50px!important;
}

.mesureMentWrap .button-wrapper>a:last-child:hover {
    padding: 16px 16px;
    border-radius: 50px;
}

.mesureMentWrap .button-wrapper>a:last-child i {
    margin: 0px!important;
    color: #e2383f!important;
}
.mesureMentWrap .button-wrapper>a:last-child:hover i {
	color: #000!important;
}
.mesureMentWrap .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly!important;
}

#mesureMentprintMe .fl-post-grid-post h3 {
    margin: 12px 0px 0px;
    font-size: 20px;
    color: #4F4F4F;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.favProWarpper .favButtons>a {
    width: auto!important;
}


/* measuremnt popup */

.measurepopup {
    width: 90%;
    overflow: hidden;
    margin: 0 auto!important;
    max-width: 1100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    z-index: 9999;
    margin-top: 50px;
    margin-bottom: 50px;
}

.measurepopup .row h3 {
    font-weight: 700;
    color: #000;
    text-align: left;
    color: #4F4F4F;
    font-size: 23px;
    letter-spacing: 0.22px;
    line-height: 41px;
}

.measurepopup .row {
    display: flex;
    align-items: center;
}

.measurepopup .sharingBox a i {
    font-size: 24px!important;
    padding: 20px;
}

.measurepopup .sharingBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurepopup img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.overlayMeasure,
.overlayInquery {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPLP .overlayInquery .measurepopup .row {
    display: block!important;
    overflow-y: scroll;
    max-height: 80vh;
}

.overlayInquery .productInfo {
    padding-top: 60px!important;
    width: 100%!important;
    text-align: center!important;
}

.productInfo>img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productInfo h3 {
    text-align: center!important;
    margin-bottom: 0px;
    font-family: Playfair Display, serif;
    font-weight: 700!important;
}

.pageUrl,
.collectionName,
.brandName {
    display: none;
}

.newPLP .closePopup {
    position: absolute!important;
    top: 0px!important;
}

.overlayInquery .measurepopup {
    border-radius: 10px!important;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.overlayInquery .row::-webkit-scrollbar {
    width: 1em;
}

.overlayInquery .row::-webkit-scrollbar-track {
    background-color: #cccccc36;
}

.overlayInquery .row::-webkit-scrollbar-thumb {
    background-color: #a9a9a952;
}
.IpCol.mob  .contentFlyer * {
    color: #fff!important;
}
.IpCol.mob  .contentFlyer *, .IpCol.mob  .locationWrapFlyer .dropIcon:after {
    color: #fff!important;
}
.minBrand  .slick-track {
    margin: 0 auto;
}
.cardRow.gt .fl-row-content-wrap .uabb-module-content.uabb-infobox.infobox-left {
    min-height: 440px!important;
}
.cardRow.isp .fl-row-content-wrap .uabb-module-content.uabb-infobox.infobox-left {
    min-height: 380px!important;
}
.formWrapperPdp > .fl-builder-content {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
html body .gsc-results-wrapper-overlay {
	z-index: +999999!important;
}

@media(max-width: 1200px) and (min-width: 992px){
	.PDP_form .uabb-gf-style.uabb-gf-form-style1 {
		padding: 0px!important;
	}
	.PDP_form .fl-module-content.fl-node-content {
		margin: 0px!important;
	}
	.product-detail-layout-default .product-swatch-inner {
		background: #fff;
		padding: 20px;
	}
}
@media(max-width: 1100px) { 
	.ImgCra .fl-module-content div.uabb-image-carousel .slick-prev {
        left: 20px!important;
    }
    .ImgCra .fl-module-content div.uabb-image-carousel .slick-next {
        right: 20px!important;
    }
}
@media (max-width:1024px){
	.favProWarpper .prod_like_wrap > a {
		pointer-events: none!important;
	} 	
	.gfield_captcha_container {
		text-align: left!important;
	}
	.PDP_form .uabb-gf-style.uabb-gf-form-style1 {
		padding: 0px!important;
	}

}
@media(max-width: 992px) {
	.fl-post-content.clearfix.grey-back > div > div {
		width: 100%
	}
	.instockPdp .product-box.pdp2-leftbox > .row {
		flex-direction: column;
	} 	
	.product-detail-layout-default .product-swatch-inner {
		background: #fff;
		padding: 20px;
	}
	.instockPdp .product-box.pdp2-leftbox {
		padding-top: 0px;
	}
	.instockPdp .price {
		justify-content: center;
		align-items: center;
	}
	.instockPdp .product-colors > .row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.product-attributes table th {
		width: 40%;
	}
	.col-md-6.col-sm-12.product-box.pdp2-leftbox > .row > div {
		width: 100%!important;
	}
	.PDP_form .uabb-tab-acc-title {display: none!important;}

	.PDP_form .uabb-module-content.uabb-tabs.uabb-tabs-layout-horizontal.uabb-tabs-style-bar > nav {
		display: block!important;
	}
	.contentFlyer > p {
		display: inline-block; 
	}
	.contentFlyer > h3 { 
		display: inline-block;
		margin-left: 10px!important; 
	}

	.IpCol .uabb-infobox-content {
		width: auto!important;
		text-align: left!important;
	}
	.IpCol .uabb-infobox-left-right-wrap {
		text-align: left!important;
	}
	.IpCol.mob .uabb-image-content:before {
		content: "\f041";
		display: inline-block;
		font: normal normal normal 20px/1 FontAwesome;
		font-size: 22px;
		text-rendering: auto;
		color: #fff;    
		-webkit-font-smoothing: antialiased;
	}
	.IpCol.mob .uabb-image-content img {
		display: none!important;
	}
	.custom_searchModule > div {
		padding: 10px!important;
	}
}
@media(max-width: 768px) {
	
	.mobImgCenter .fl-module-content .uabb-infobox-content .uabb-image {
		text-align: center!important;
	}
	.fd .fl-module-content .fl-icon-group {
		text-align: left!important;
	}
	.fd .fl-module-content .fl-icon-group .fl-icon a i:before {
		font-size: 22px!important;
	}
	.max360 img {
		max-width: 360px!important;
		width: 100%!important;
		display: block!important;
		margin: 0 auto;
	}
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	
}
/*Measuremnt popup end here*/


/*Measuremnt tool css end here */

@media(max-width: 767px) { 
	.liMeasur {
		min-height: 70px;
	}
	.PDP_form .ginput_container_checkbox .gfield_checkbox {
		display: flex;
		flex-direction: column;
	}
	.gsc-results-wrapper-overlay {
		padding: 10px!important;
		width: 90%!important;
		left: 5%!important;
		z-index: +999999;
	}
}


@media screen and (max-width: 375px){ 
	.contentFlyer>p {
		display: block!important;
	}
	.fl-col.IpCol.mob .contentFlyer > p {
		display: block!important;
	}
	.fl-col.IpCol.mob .contentFlyer > p {
		display: block!important;
	}
	.contentFlyer>h3 {
		display: inline-block;
		margin-left: 0px !important;
	}

	.fl-col.IpCol.mob .contentFlyer .phone {
		display: inline-block;
	}
}



/* flooring finder css start here */
#alert_placeholder{
    width: 90%;
    margin: 0 auto;
}
.alert-danger {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
    width: 90%;
    margin: 0 auto;
}

.alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.flooringFinder .card .pro_title h4{
	margin: 0px!important;
}
.flooringFinder .title h2{
	    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.pages h4{
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px!important;
}
.Mainwrapper {
    height: 100%;
    width: 100%;

}
.flooringFinder .card .productImgWrap {
    position: relative;
}
.flooringFinder .card .productImgWrap > img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all linear 0.2s;
}
.productImgWrap > img:nth-child(1){
	z-index: 2;
}
.productImgWrap > img:nth-child(2){
	z-index: 1;
}

.card:hover .productImgWrap > img:nth-child(2){
	z-index: 3;
}
.card.shadow .productImgWrap > img:nth-child(2){
	z-index: 3;
}
h4.uabb-infobox-title-prefix ~ h2.uabb-infobox-title{
	font-size: 26px;
}
/* centerd display */
.flooringFinder .gridWrapper {
    text-align: center;
}
.flooringFinder  .fulldisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flooringFinder  .fulldisplay > div{
    width: 100%;
}
.flooringFinder  .prodGrid{
    display: flex;
    justify-content: center;
}

.flooringFinder  .singlePro{
    padding: 6px 6px!important;
}
.flooringFinder  .title{
    padding: 40px 0px!important;
    color: #000;
}


.flooringFinder  .card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  position: relative;
  transition: all 0.6s;
  border: 2px solid #C1C0BB;
}
/* 
.flooringFinder .card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #666666;
} */
.flooringFinder .shadow{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #ff0000;
}
.flooringFinder .card.deactivate{
    opacity: 0.3;
}
.flooringFinder .card.deactivate{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.flooringFinder .pro_title {
    padding: 10px 12px!important;
    text-align: center;
    color: #000;
    
}
.flooringFinder .pro_title h4{
    text-transform: uppercase;
    font-size: 14px!important;
    font-weight: 600;
}
.flooringFinder .card .closebtn {
position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 6px!important;
    font-size: 36px;
    line-height: 0.5em;
    margin-left: 50px;
    color: #000;
    background: #fff;
    text-decoration: none;
    opacity: 0;
  transition: all 0.6s;
}

.flooringFinder .card:hover > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .multiselect .card .checkbox{
    display: none;
}
.flooringFinder .card.deactivate:hover{
   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
   border: 2px solid #C1C0BB;
}
.flooringFinder .card.deactivate:hover > .closebtn{
  opacity: 0;
}
.sample-product-grid .getcoupon-btn {
	font-size: 16px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 12px 24px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 100% !important;
	background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.sample-product-grid .getcoupon-btn span{
	 color: #fff !important;
}
.sample-product-grid .getcoupon-btn:hover{
	color: #000;
    background: #848484 !important;
}
.sample-product-grid .getcoupon-btn:hover span{
		color: #000 !important;
}


.flooringFinder .shadow > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .pages {
    color: #727171;
    background-color: #efefef;
    padding: 40px 0px!important;
}
.flooringFinder .pages span {
    font-size: 16px;
}


/* d*/
.flooringFinder  section {
    /* height: 100%; */
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0px 0px 60px 0px!important;
}

.flooringFinder section .container {
    margin: 0 auto!important;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contCenter{
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%); */
}
.alignGallery .uabb-module-content {
    align-items: center;
    display: flex;
}
.alignGallery .uabb-module-content .uabb-photo-gallery-item:first-child img {
    max-width: 140px;
}
.flooringFinder  .buttonWrap{
 padding: 60px 0px 40px 0px!important;
}
.flooringFinder  .buttonWrap > a.button{
    color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #000000;
    border: 1px solid #000000;
    padding: 10px 24px!important;
    text-transform: uppercase;
    width: 250px!important;
    display: inline-block;
    text-decoration: none!important;
}
.flooringFinder  .buttonWrap > a.button:hover{
    cursor: pointer;
}
.flooringFinder  .wrap{
    flex-wrap: wrap;
}
.flooringFinder  .result .card .pro_title h4{
    line-height: 1.4em;
	min-height: 60px;
}
.flooringFinder  .result .card .pro_title h3{
    line-height: 1.6em;
    margin-bottom: 2px!important;    
	font-size: 18px;
}
.flooringFinder .result .card .pro_title .brand{
    letter-spacing: 1px;
        color: #a3a3a3;     
}
.flooringFinder .result .orderSamplebtn{
    display: block;
    padding: 10px 16px!important;
    background: #000;
    color: #fff;
    margin: 10px 0px!important;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.flooringFinder .result  .prodLink{
  text-decoration: underline;
  color: #666666;   
  font-size: 13px;
 }
.flooringFinder .buttonWrap .restartQuiz{
    display: inline-block;
} 
.flooringFinder .result .buttonWrap{
    display: inline-grid;
}
.flooringFinder .result .buttonWrap .restartQuiz{
    margin-top: 20px!important;
}
.flooringFinder .productImgWrap {
    overflow: hidden;
    height: 250px;
    max-width: none;
    width: 100%;
    min-height: 250px;
}

.flooringFinder .productImgWrap > img {
    min-height: 100%;
    width: 100%;
}
.flooringFinder section{ 
    display: none;
} 
.flooringFinder .active{
    display: block;
}
.progressBar{
	width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    background-color: #f4f4f4;
}

.progressBar .bar{
	padding: 12px;
    background-color: #f00000;
    width: 16%;
}

section[data-section=typeOf] .progressBar .bar{
    width: 32%;
}
section[data-section=designStyle] .progressBar .bar{
    width: 48%;
}
section[data-section=room] .progressBar .bar{
    width: 64%;
}
section[data-section=impThing] .progressBar .bar{
    width: 80%;
}
section[data-section=color] .progressBar .bar{
    width: 100%;
}
.typeOfCarpet,
.typeOfWood,
.typeOfTile{
	display: none;
}
.hidden{
	display: none;
	pointer-events: none;
}
.hidden > *{
	pointer-events: none;
}
.flooringFinder .singleselect .card .checkbox {
    display: none;
}
.columnUp .gform_footer{
	padding-right: 15px!important;
}

.mobIP .contentFlyer .phone a.mobile_phone, .mobIP .header_location_name {
    color: #fff!important;
    font-size: 12px!important;
    font-weight: 500!important;
}
.mobIP .locationWrapFlyer .dropIcon:after {
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    line-height: 26px;
}
.mobIP .contentFlyer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobIP .mobile_phone:before {
    content: "\f095";
    font-size: 14px!important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.mobIP .contentFlyer .phone a.mobile_phone {
    padding-left: 10px;
    border-left: 1px solid #fff;
}
.fl-module.mobIP .infobox-left .uabb-imgicon-wrap {
    margin-right: 0px;
}
.mobIP .uabb-infobox-left-right-wrap {
    max-width: 320px;
    margin: 0 auto;
    display: block!important;
}
.mobIP .dropIcon.uabb-offcanvas-trigger {
    margin-left: 0px!important;
}

.mobIP  .phone {
    padding-left: 10px;
}
.mobIP .locationWrapFlyer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobIP .header_location_name:before {
    content: "";    
    height: 15px;
    width: 15px;
    background-image: url(/wp-content/uploads/2024/02/location-pin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 0px!important;
    
}
.mobIP .header_location_name {
    display: flex!important;
    align-items: center!important;
}


@media(min-width: 1200px){
.flooringFinder .col-lg-3 {
    width: 20%!important;
}
}
@media(min-width: 769px ){
  .fl-slide-foreground {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .fl-slide-content-wrap {
     width: 100%;
 }
 .fl-slide-content {
    margin: 0px!important;
}
.fl-slide.fl-slide-text-center .fl-slide-photo img {
    margin-top: 38px;
    display: inline-block;
}
}
@media(min-width: 768px){
.columnUp{
	position: relative;
    z-index: 10;
}
.gfield{
		padding-right: 15px!important;
}	
	
.fl-module .uabb-gf-style {
    padding-right: 5px!important;
}
}

@media(max-width: 992px) {
	.fl-col.logoCol .headerRQ {
		position: relative!important;
		transform: translateX(-50%);
        left: 50%;
	}
	.headerRQ .uabb-infobox {
        border-radius: 0 0 0px 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
		.headerRQ .uabb-infobox  .uabb-infobox-title {
		font-size: 22px;
	}

	.headerRQ .uabb-infobox .uabb-infobox-title-prefix {
		font-size: 16px;
	}
	.headerRQ .uabb-infobox {
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 20px;
	}
    .fl-col.IpCol.mob .contentFlyer>p {
        display: block!important
    }

    .fl-col.IpCol.mob .contentFlyer>p {
        display: block!important
    }

    .contentFlyer>h3 {
        display: inline-block;
        margin-left: 0 !important;
    }

    .fl-col.IpCol.mob .contentFlyer .phone {
        display: inline-block;
    }
	.fl-module.headerLogo img {
		max-width: 230px!important;
		width: 100%!important;
	}
}
@media(max-width: 768px){
.buttonIssue .gform_footer input[type=submit]{
	    width: 350px;
    max-width: 100%;
}

.flooringFinder .pages {
    padding: 0px 0px!important;
}
.flooringFinder .pages > div{
    padding: 12px 0px!important;
}
.flooringFinder .prodGrid {
    display: block!important;
}
.flooringFinder .contCenter{
    position: static;
    top: 50%;
    left: 50%;
    -ms-transform: none;
    transform: none;
        display:block;
}
	.fl-module-menu  .menu a{
		    padding-top: 6px;
	}
.flooringFinder .singlePro{
    padding: 20px 20px!important;
}
.flooringFinder section {
    height: auto;
}
	
@media(max-width: 667px) { 
	.gform_wrapper .ginput_container.ginput_container_checkbox input {
		vertical-align: top!important;
		margin-top: 4px!important;
	}
	.fl-node-npmc942x0sl3 .uabb-offcanvas-parent-wrapper .uabb-offcanvas-position-at-right {
		 width: 100%!important;
		max-width: 400px!important;
	}
	.mobInfoVertical .uabb-infobox-left-right-wrap {
		display: flex!important;
		flex-direction: column!important;
	}
	.mobInfoVertical .uabb-infobox-left-right-wrap .uabb-infobox-content, .mobInfoVertical .uabb-infobox-left-right-wrap>div {
		width: 100%!important;
	}
	.mobInfoVertical .uabb-image.uabb-image-crop-square {
		text-align: center!important;
	}	
	.fl-post .fl-post-image-beside, .fl-post .fl-post-content-beside {
		padding: 0px 0px!important;
	}
	.flooringFinder .productImgWrap {
		overflow: hidden;
		height: 350px;
		max-width: none;
		width: 100%;
		max-width: 350px;
		min-height: 250px;
	}
	.card {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 350px;
		margin: 0 auto!important;
	}
}
	
@media(max-width: 342px){
	.mobIP .contentFlyer .phone a.mobile_phone, .mobIP .header_location_name {
		font-size: 10px!important;
	}		
	.mobIP .uabb-infobox-left-right-wrap {
		max-width: 290px;
	}
	header .fl-module .fl-module-content .header_store .contentFlyer>h3 {
		font-size: 12px !important;
	}
}